.friends-index-container {
  display: flex;
  flex-wrap: wrap;
  // width: 390px;
}

.friends-index-no-friends-text {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}