.profile-thumbnail-small-circle {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.comment-index-item {
  margin: 5px 0;
}

.comment-item-profile-link {
  text-decoration: none;
  color: #365899;
}

.comment-item-author-name {
  margin-right: 10px;
}

.comment-index-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}

.comment-name-body-date {
  margin-left: 10px;
  font-size: 16px;
}

.comment-item-date {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}

.comment-item-ellipsis {
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
  cursor: pointer;
}