.loggedin-nav-logo {
  height: 24px;
  width: 24px;
border-radius: 4px;
}

.loggedin-nav {
  height: 42px;
  background-color: rgb(69,101,176);
}

.loggedin-nav-content {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
};

.loggedin-nav-right {
  display: flex;
  align-items: center;
};

.loggedin-nav-logo {
  margin-right: 7px;
}

.loggedin-nav-left {
  display: flex;
  align-items: center;
};

.loggedin-nav-left > input {
  width: 400px;
  height: 23px;
  border-radius: 5px;
  border:1px solid rgb(189,199,215);
  padding-left: 10px;
  box-sizing: border-box;
}

.loggedin-nav-profile-link {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

.loggedin-nav-right > div {
  padding: 0 10px;
}

.loggedin-nav-profile-picture {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  object-fit: cover;
  object-position: center;
}

.loggedin-nav-profile {
 display: flex;
 align-items: center; 
}

.logout-button {
  margin: 0 0 0 0;
  width: 60px;
  height: 24px;
  background-color: #5B74A8;
  border-color: #29447e #29447e #1a356e;
  color: #fff;
  background-image: linear-gradient(#637bad, #5872a7);
}