.profile-display-container {
  background: white;
  width: 850px;
  height: 365px;
  margin: auto;
  position: relative;
  border: 1px rgb(221,223,226) solid;
}

.profile-cover-image {
  object-fit: cover;
  object-position: center;
  height: 315px;
  width: 850px;
}

.profile-image-container {
  border: 1px solid rgb(221,223,226);
  position: absolute;
  left: 10px;
  bottom: 15px;
}

.profile-profile-image {
  object-fit: cover;
  object-position: center;
  height: 168px;
  width: 168px;
  border: 4px solid white;
}

.profile-user-name {
  position: absolute;
  bottom: 65px;
  left: 205px;
  color: white;
  font-family: helvetica;
  font-size: 22px;
}

.profile-add-friend-button {
  position: absolute;
  bottom: 65px;
  right: 20px;
}

#cover-picture-file-input, #profile-picture-file-input {
  display: none;
}

.profile-fade {
  position: absolute;
  font-size: 15px;
  font-family: Helvetica;
  color: white;
  width: 120px;
  height: 32px;
  bottom: 7px;
  left: 4px;
  padding: 10px 5px 10px 42px;
  background: black;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.profile-fade-camera {
  position: absolute;
  color: white;
  left: 13px;
  bottom: 19px;
  opacity: inherit;
}

// .profile-fade:hover {
//   opacity: 0.7;
// }

.profile-image-container:hover .profile-fade {
  opacity: 0.7;
}

.cover-fade {
  position: absolute;
  font-size: 14px;
  font-family: Helvetica;
  color: white;
  top: 10px;
  left: 10px;
  background: black;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 3px;
}

.cover-fade-camera {
  margin-right: 10px;
}

.cover-image-container:hover .cover-fade {
  opacity: 0.7;
}

.cover-image-container, .profile-image-container {
  cursor: pointer;
}

// .profile-respond-friend-request {
//   position: absolute;
//   bottom: 65px;
//   right: 20px;
// }

// .profile-respond-friend-request > .profile-add-friend-button {
//   position: relative
// }

.profile-respond-friend-request-pop-up {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  box-sizing: border-box;
  bottom: 0px;
  right: 58px;
  height: 54px;
  width: 129px;
  background: white;
  border: 1px solid rgb(139,139,139);
  transition: all 0s ease 1s;
  box-shadow: 3px 3px 8px -2px #888888;
}

.profile-respond-friend-request:hover .profile-respond-friend-request-pop-up,
.profile-respond-friend-request-button:hover .profile-respond-friend-request-pop-up {
  visibility: visible;
  transition-delay: 0s;
}

.profile-respond-friend-request-confirm, .profile-respond-friend-request-delete {
  width: 100%;
  height: 35%;
  line-height: 18px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.profile-respond-friend-request-confirm:hover, .profile-respond-friend-request-delete:hover {
  background: rgb(69,101,176);
  border-top: 1px solid rgb(41,73,121);
  border-bottom: 1px solid rgb(41,73,121);
  color: white;
  // transition: 0.49s;
}

// .profile-respond-friend-request-delete:hover {
//   background: rgb(69,101,176);
//   border-top: 1px solid rgb(41,73,121);
//   border-bottom: 1px solid rgb(41,73,121);
//   color: white;
//   // transition: 0.49s;
// }

.profile-respond-arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  top: -8px;
  left: 10px;
  z-index: 1;
}