.post-form-input {
  width: 100%;
  height: 75px;
  resize: none;
  // border:1px solid #cccccc;
  border: none;
  font-size: 16px;
  padding: 13px 0 0 10px;
  box-sizing: border-box;
}

.feed-form-post-button {
  background-color: rgb(69,101,176);
  color: white;
  width: 61px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.post-form-container {
  display: flex;
  width: 600px;
  height: 150px;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(221,223,226);
  position: relative;
}

.make-post-icon {
  height: 12px;
  width: 12px;
}

.make-post {
  color: rgb(65,93,155);
  position: absolute;
  top: 10px;
  left: 10px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  top: 30px;
  left: 37px;
  z-index: -1;
}