.profile-thumbnail-medium-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.feed-item-container {
  margin-top: 10px;
  background-color: white;
  // padding: 12px;
  border: 1px solid rgb(221,223,226);
  border-radius: 5px;
}

.feed-item-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.feed-item-header-info  {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  margin-left: 5px;
}

.feed-item-profile-link {
  text-decoration: none;
  color: rgb(57,85,169);
}

.feed-item-profile-name {
  font-size: 14px;
  font-weight: bold;
}

.feed-item-name-container {
  display: flex;
  justify-content: flex-start;
}

.feed-item-caret {
  margin: 0 10px;
  color: gray;
}

.feed-comment-divider {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(221,223,226);
  box-sizing: border-box;
}

.under-eighty-five-characters {
  font-size: 20px;
}

.feed-item-ellipsis {
  position: absolute;
  top: -3px;
  right: 0;
  color: gray;
  cursor: pointer;
}

.feed-item-ellipsis:hover {
  color: black;
}

.feed-item-edit-pop-up {
  box-shadow: 3px 3px 8px -2px #888888;
  width: 150px;
  border: 1px solid rgb(139,139,139);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  top: 13px;
  right: -5px;
  padding: 5px 0;
  background-color: white;
}

.feed-item-delete-button, .feed-item-edit-button {
  font-size: 13px;
  width: 100%;
  height: 22px;
  line-height: 20px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.feed-item-delete-button:hover, .feed-item-edit-button:hover {
  background: rgb(69,101,176);
  border-top: 1px solid rgb(41,73,121);
  border-bottom: 1px solid rgb(41,73,121);
  color: white;
}

.feed-item-edit-input {
  width: 100%;
  resize: none;
  height: 75px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(139,139,139);
}

.feed-item-edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.toggle-hide {
  display: none;
}

.click-to-hide-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.feed-item-edit-cancel-button, .feed-item-edit-done-editing-button {
  height: 22px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2px;
}

.feed-item-edit-cancel-button {
  background-color: rgb(246,247,249);
  border: 1px solid rgb(206,208,212);
  color: rgb(75,79,86);
}

.feed-item-edit-done-editing-button {
  margin-left: 8px;
  background-color: rgb(69,101,176);
  color: white
}

[id^='feed-item-post-body-'] {
  font-size: 14px;
  line-height: 1.5;
}

.feed-item-date-time {
  font-size: 13px;
}