.left-aside-container {
  margin: 10px 10px 0 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  // left: calc(50vw - 256px - 180px - 10px);
}

.right-aside-profile-pic-thumbnail {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.left-aside-profile-info {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.remove-text-decoration {
  text-decoration: none;
  color: black;
}

.left-aside-container div:not(:first-child) {
  margin-bottom: 5px;
  padding: 5px;
}

.right-aside-profile-pic-thumbnail {
  margin-right: 5px;
}

.left-aside-container i {
  margin-right: 5px;
  font-size: 20px;
}

.news-feed-div-selected {
  background-color: rgb(246,247,249);
  border: 1px solid rgb(221,223,226);
  border-radius: 3px;
  box-sizing: border-box;
}