.rss-feed-container {
  width: 308px;
  background-color: white;
  padding: 12px;
  border: 1px solid rgb(221,223,226);
  border-radius: 5px;
}

.rss-feed-header {
  padding-bottom: 12px;
  color: gray;
}